configuration {
    modi:                        "Static,Video";
    sidebar-mode:                true;
    show-icons:                  true;
    drun-display-format:         "{name}";
    hover-select:                true;
    me-select-entry:             "";
    me-accept-entry:             [ MousePrimary, MouseSecondary, MouseDPrimary ];
    display-Static:              "Static";
    display-Video:               "Video";
}

* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #111217;
    background-alt:              #1b1e25;
    foreground:                  #edeeff;
    selected:                    #86afef;
    active:                      #6db2f7;
    urgent:                      #fb507c;
}

window {
    enabled:                     true;
    fullscreen:                  false;
    width:                       460px;
    height:                      630px;
    location:                    west;
    anchor:                      west;
    x-offset:                    72px;
    y-offset:                    0px;
    transparency:                "real";
    cursor:                      "default";
    spacing:                     0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               18px;
    background-color:            @background;
}

mainbox {
    enabled:                     true;
    orientation:                 vertical;
    children:                    [ "mode-switcher", "listview", "inputbar" ];
    background-color:            transparent;
    spacing:                     0px;
}

mode-switcher {
    enabled:                     true;
    spacing:                     12px;
    margin:                      20px 22px 0px 22px;
    background-color:            transparent;
    text-color:                  @foreground;
}

button {
    padding:                     10px;
    border-radius:               10px;
    background-color:            #232b39cc;
    text-color:                  #d9e5ff99;
    cursor:                      pointer;
    font:                        "JetBrains Mono Nerd Font 9";
    horizontal-align:            0.5;
}

button selected {
    background-color:            @selected;
    text-color:                  #111217;
    font:                        "JetBrains Mono Nerd Font 9 Bold";
}

inputbar {
    enabled:                     true;
    spacing:                     0px;
    margin:                      16px 20px 20px 20px;
    padding:                     9px 11px;
    border-radius:               10px;
    background-color:            #232b39cc;
    text-color:                  @foreground;
    children:                    [ "entry" ];
}

entry {
    enabled:                     true;
    padding:                     10px 14px;
    border-radius:               100px;
    background-color:            #111217dd;
    text-color:                  #d9e5ff;
    cursor:                      text;
    placeholder:                 "Search...";
    placeholder-color:           #d9e5ff99;
    font:                        "JetBrains Mono Nerd Font 9";
}

listview {
    enabled:                     true;
    columns:                     2;
    lines:                       2;
    spacing:                     20px;
    padding:                     22px 22px 0px 22px;
    cycle:                       true;
    dynamic:                     false;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @foreground;
}

element {
    enabled:                     true;
    orientation:                 vertical;
    spacing:                     8px;
    padding:                     16px 16px 14px 16px;
    border-radius:               14px;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @foreground;
}

element selected.normal {
    background-color:            @selected;
    text-color:                  #111217;
}

element-icon {
    size:                        152px;
    cursor:                      inherit;
    border-radius:               12px;
    background-color:            transparent;
    text-color:                  inherit;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.5;
    padding:                     0px;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
    font:                        "JetBrains Mono Nerd Font 9";
}
